{% extends 'index.html' %}

{% block title %} {{video.title}} - GlebTube {% endblock %}

{%block content %}

{% load static %}
{% csrf_token %}

{% load user_filters %}


<!--Styles-->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link rel="stylesheet" a href="{% static 'css/enchanced_player.css' %}"> 


<div class="container mt-5">
  <div class="shadow-0 mb-3 border-0">
  
    {% if video.status == 'Completed' %}
    <video preload="none" id="player" autoplay controls crossorigin playsinline controls></video>
    {% else %}
    {% include 'spinners/loading_spinner.html' %}
    <p class="text-muted text-center">Видео загружается...</p>
    {% endif %}
    <div class="card-body" style="word-wrap: break-word;">
      <h5 class="card-title text-uppercase font-weight-bold">{{video.title}}</h5>

      <div class="accordion accordion-flush" id="descAccording">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              data-mdb-collapse-init
              class="accordion-button collapsed"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-circle-info"></i> Описание </h6>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-mdb-parent="#descAccording"
          >
            <div class="accordion-body"> 
              {{video.description}}
            </div>
          </div>
        </div>
      </div>

      <div class="md_content">
    </div>
      <p class="card-text">
        <i class="fas fa-star-of-david"></i>   Количество Звёзд: {{video.baseStars}}
        <i class="fas fa-eye"></i> Количество просмотров: {{video.views}}</p>
      <p class="card-text"><i class="fas fa-clock"></i> Дата выхода: {{video.createdAt|date:"m.d.Y"}}</p>
      <p class="card-text" style="width:30rem">
        <span class="d-inline-block">  
          <img class="rounded-circle mx-3" src="{{video.channel.avatar | parse_avatar}}" width="35" height="35"
          onclick="location.href='{% url 'user_profile' video.author_id %}';" style="cursor:pointer;">
          <strong onclick="location.href='{% url 'user_profile' video.author_id %}';" style="cursor:pointer;"> 
            {{video.channel.username}} 
          </strong>
          {% if video.channel.id != request.user.id %}
          <i class = "rate_container mx-3"
            hx-get="{% url 'subscribe_button' video.channel.id %}" hx-swap="innerHTML" hx-trigger="load">
          </i>
          {% endif %}
        </span>
      </p>
      
    </div>

  </div>

<div class="post float-right" data-post-id="{{video.id}}">

<div class = "rate_container float-right"
hx-get="{% url 'rate_video' video.id %}" hx-swap="innerHTML" hx-trigger="revealed">
{% include 'spinners/loading_spinner_htmx.html' %}

</div>
<div class="dropdown dropup" onclick="event.stopPropagation()">
  <button
    class="btn btn-link btn-floating float-end"
    type="button"
    id="dropdownMenuButton"
    data-mdb-dropdown-init
    data-mdb-ripple-init
    aria-expanded="false"
  >
  <i class="fas fa-ellipsis-vertical"></i>
  </button>
  {% include "video/video_options_list.html" %}
</div>

{% comment %}
<a type="button" class="btn btn-link float-end btn-rounded mx-2" data-mdb-ripple-init data-mdb-ripple-color="dark" href="{% url 'download_video' video.id %}"><i class="fas fa-download"></i> Скачать </a>
{% endcomment %}
<!-- COMMENT(s) -->
</div class="comment_form">
  <h3 id="comments_count">Комментарии</h3>
  
  <div class="p-2">
    <div class="d-flex flex-row align-items-start">
        <img class="rounded-circle mx-3" src="{{user.avatar | parse_avatar}}" width="50" height="50">
        <textarea class="form-control ml-1 textarea" placeholder="Введите комментарий" id="comment" rows="2"></textarea>
        

        
    </div>
    <div class="mt-2 float-end">
        <button type="button" id="clearButton" class="btn btn-outline-primary btn-floating"><i class="fas fa-trash"></i></button>
        <button hx-post="{% url 'add_comment' video.id %}" hx-vars="comment:document.getElementById('comment').value" 
         hx-target=".comment_list"
         hx-swap="afterbegin"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         class="btn btn-primary  btn-rounded" id="sendButton" type="button"><i class="fas fa-paper-plane"></i> Отправить</button>
    </div>
</div>
<br>
<div class="comment_list mt-4"
hx-get="{% url 'fetch_comments' video.id %}"
hx-trigger="revealed"
hx-swap="innerHTML">
{% include 'spinners/loading_spinner_htmx.html' %}
</div>
</div>
</div>

<!--Scripts-->
{% load static %}

<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.js"></script>
<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
<script>var media_source = "{{ hls_url }}";</script>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/comment_video.js' %}"></script>



{% endblock %}