<span class="profile_buttons">
    {% if isOwner %}
    <a type="button" class="mx-1 my-1 btn btn-warning btn-rounded" href="{% url 'edit_profile' %}">
      <i class="fas fa-pen"></i> Изменить профиль
    </a>
    <button type="button" 
    hx-delete="{% url 'delete_history' %}" 
    hx-swap="innerHTML"
    hx-target=".alert_container"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'         
    class=" mx-1 my-1 btn btn-danger btn-rounded">
    <i class="fas fa-trash"></i> Очистить историю
    </button>
    {% else %}
    <!--SUB/UNSUB BUTTONS-->
    <div id="sub_btn_area" hx-get="{% url 'subscribe_button' user.id %}" hx-trigger="load" hx-swap="innerHTML">
    </div>
    <!--SUB/UNSUB BUTTONS-->
    {% endif %}
</span>

<div class="d-flex justify-content-center align-items-center py-4">
  <div>
    <div class="d-inline-block text-dark">
      
      <span class="text-muted"><i class="fas fa-star"></i> Всего звёзд: <strong>{{stars_count}}</strong></span>
      
    </div>
    
    <div class="d-inline-block text-dark ml-3">
      <span class="text-muted"><i class="fas fa-user-group"></i> Всего подписчиков: <strong>{{subscribers_count}}</strong> </span>
      
    </div>
  </div>
</div>