{% extends 'index.html' %}

{% block content %}
{% load static %}
{% csrf_token %}


<div class="row height d-flex justify-content-center align-items-center">


    <!-- Modal -->
    <div class="modal top fade" id="rm_video_modal" tabindex="-1" aria-labelledby="rm_video_modal_label" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
      <div class="modal-dialog   modal-dialog-centered">
        <div class="modal-content" id="rm_video_modal_wrapper">
          
        </div>
      </div>
    </div>
    

<div class="album py-5">
    <div class="container">
      <h3>GlebTube
        {% if title %} - {{title}} {% endif %}
      </h3>
      <div id="video_list">
      {% include 'video/video_list.html' %}
      </div>
    </div>
  </div>
  
{% endblock %}