<div class="modal-header">
    <h5 class="modal-title" id="rm_video_modal_label">Удалить видео?</h5>
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">Вы уверены в этом? Вы можете стать менее популярным.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
      Ну нахуй
    </button>
    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal"
    hx-delete="{% url 'delete_video' video_id %}"
    hx-swap="outerHTML"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-target="#video-card-{{video_id}}"
    
    >Похуй</button>
  </div>