{% load user_filters %}
<div class="d-flex justify-content-center row" id="comment-{{comment.id}}">
    <div class="col"> 
        <div class="d-flex flex-column comment-section" style="word-wrap: break-word;">
            <div class="p-2">
                <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{comment.author.avatar | parse_avatar }}" width="50" height="50"
                  onclick="location.href='{% url 'user_profile' comment.author_id %}';" style="cursor:pointer;"
                  >
                    <div class="d-flex flex-column justify-content-start ml-2 mx-3"><span 
                      onclick="location.href='{% url 'user_profile' comment.author_id %}';" style="cursor:pointer;"
                      class="d-block font-weight-bold name"><strong>{{comment.author}}</strong></span>
                      <span class="date"><i class="fas fa-clock"></i> Дата публикации: {{comment.date_uploaded|date:"m.d.Y"}} <i class="fas fa-star-of-david"></i> Количество звёзд: 
                        {% if comment.stars_count %}
                        {{comment.stars_count}}
                        {% else %}0{% endif %}</span></div>
                </div>
                <div class="mt-2">
                    <div class="md_content">
                    {% block content_area %}
                   
                    {% endblock %}
                  </div>

                  {% block comment_buttons %}
                  
                
                  {% endblock %}
                </div>    
            </div>    
        </div>
    </div>
</div>
