{% extends 'comments/comment_base.html' %}

{% block content_area %}
<p class="comment-text">{{comment.text}}</p>
{% endblock %}

{% block comment_buttons %}
                  
{% if request.user.is_authenticated %} 


{% if comment.starred == 1 %}
{% include 'rate_comment/unrate_btn.html' %}
{% else %}
{% include 'rate_comment/rate_btn.html' %}
{% endif %}

{% if comment.channel == request.user %}

<button type="button" 
        class="btn btn-info float-end btn-floating" 
        data-mdb-tooltip-init 
        title="Редактировать"
        data-mdb-ripple-init 
        data-mdb-ripple-color="dark"
        hx-get="{% url 'edit_comment' comment.id %}" 
        hx-target="#comment-{{comment.id}}"
        hx-trigger="click"
        hx-swap="outerHTML"
        >
        <i class="fas fa-pen"></i>
  </button>

{% endif %}


{% endif %}
{% endblock %}