{% load user_filters %}
<div class="d-flex justify-content-center row">
    <div class="col"> <!--<div class="col-md-8"> -->
        <div class="d-flex flex-column comment-section" style="word-wrap: break-word;">
            <div class="p-2">
                <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{comment.author.avatar | parse_avatar }}" width="50" height="50"
                  onclick="location.href='{% url 'user_profile' comment.author_id %}';" style="cursor:pointer;"
                  >
                    <div class="d-flex flex-column justify-content-start ml-2 mx-3"><span 
                      onclick="location.href='{% url 'user_profile' comment.author_id %}';" style="cursor:pointer;"
                      class="d-block font-weight-bold name"><strong>{{comment.author}}</strong></span>
                      <span class="date">Дата публикации: {{comment.date_uploaded|date:"m.d.Y"}}</span></div>
                </div>
                <div class="mt-2">
                    <div class="md_content">
                    <p class="comment-text">{{comment.content}}</p>
                  </div>

                  
                  {% if request.user.is_authenticated %} 
                  {% if comment.author == request.user %}
                  <button type="button" class="btn btn-danger btn-floating float-end mx-2"
                    hx-delete="/rm_comment/{{comment.id}}" 
                    hx-target="closest div.d-flex.justify-content-center.row" 
                    hx-swap="outerHTML"
                    hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
                    <i class="bi bi-trash"></i>
                  </button>
                  {% endif %}
                  <button type="button" class="btn btn-primary btn-floating float-end">
                    <i class="bi bi-star"></i>
                    
                  </button>
              
                  {% endif %}
                </div>    
            </div>    
        </div>
    </div>
</div>