<div class="row height d-flex justify-content-center align-items-center">
    <div class="col-xl-7 col-md-9 col-sm-10 col-11">
      <div class="form input-group">
        <input type="text" id="search_input" class="form-control form-input" placeholder="Летс плей по майнкрафту">
        <span class="input-group-text btn btn-primary"
              hx-get="{% url 'search' %}"
              hx-swap="innerHTML"
              hx-target="#video_list"
              hx-trigger="load, click"
              hx-include="#search_input"
              hx-vars="search_query:document.getElementById('search_input').value" 
              >
              
          <i class="bi bi-search"></i> Найти
        </span>
      </div>
    </div>
  </div>