{% extends 'index.html' %}


{% block content %}


<div class ="mx-auto col-10 col-md-8 col-lg-6">
{% if error_alert %} 
    <div class="form-group">
    <div class="alert alert-danger">
        <strong>Неудача: </strong> {{error_alert.description}}
    </div>
{% elif success_alert %}
<div class="form-group">
    <div class="alert alert-success">
        <strong>Успех: </strong> {{success_alert.description}}
    </div>
{% endif %}

<div class="form-group">
<h1>{{title}}</h1>

{% block override_form %}

<form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}

    {% block form_additional %}
    {% endblock %}
    <input type="submit" value="Подтвердить" class="btn btn-outline-primary btn-rounded"/>
    </form>

{% endblock %}
</div>
</div>
{% endblock %}
