<!DOCTYPE html>
<html>
<head>
  {% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>



  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img class="bi" src="{% static 'logo.png' %}" width="32" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="/upload" class="nav-link px-2">Мои видео</a></li>
      <li><a href="/upload" class="nav-link px-2">Загрузить видео</a></li>
      <li><a href="/upload" class="nav-link px-2">Подписки</a></li>
      
      {% endif %}
     
    </ul>

    <div class="col-md-3 text-end">
      {% if not request.user.is_authenticated %}
      <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='/login';">Вход</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/reg';">Регистрация</button>
      {% else %}
      <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='#';">Профиль</button>
      <button type="button" class="btn btn-danger" onclick="location.href='/logout';">Выход</button>
      {% endif %}
    </div>
  </header>

    <div class ="content"> 
      {% block content %} {% endblock %}
    </div>

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Ссылка</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Ссылка</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Ссылка</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 GlebTube, Inc</p>
      </footer>
    </div>

</body>
</html>
