<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
  <title>{% block title %}
    {% if title %}
    {{title}} - 
    {% endif %}
     GlebTube
    {% endblock %}</title>
<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>



  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img class="bi" src="{% static 'logo.png' %}" width="32" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
     
      <li><a href="/my_videos" class="nav-link px-2">Мои видео</a></li>
      <li><a href="/history" class="nav-link px-2">История просмотров</a></li>
      <li><a href="/upload" class="nav-link px-2">Загрузить видео</a></li>
    </ul>

    <div class="col-md-3 text-end">
      {% if not request.user.is_authenticated %}
      <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='/login';">Вход</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/reg';">Регистрация</button>
      {% else %}
      <button type="button" class="btn btn-outline-primary me-2" onclick="alert('В разработке...');">Профиль ({{request.user}})</button>
      <button type="button" class="btn btn-danger" onclick="location.href='/logout';">Выход</button>
      {% endif %}
    </div>
  </header>

    <div class ="content"> 
      {% block content %} {% endblock %}
    </div>
    
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
</body>
</html>
