
<div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 p-3 video_{{video.id}}">
            
    <div class="card shadow-sm border-1" onclick="location.href='/video/{{video.id}}'" style="cursor: pointer;" title="{{video.caption}}">
      
      <img class="bd-placeholder-img card-img-top rounded" src="{{video.thumbnail.url}}" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="card-body">
        
      {% block edit_block %}

      {% endblock %}
        
        <strong><p class="card-text text-uppercase font-weight-bold text-truncate overflow-hidden">{{video.caption}}</p></strong>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <small class="text-body"><i class="bi bi-clock-fill"> Дата выхода:  {{video.date_uploaded|date:"m.d.Y" }}</i></small>
            <small class="text-body">  <i class="bi bi-binoculars-fill"> Количество просмотров:  {{video.views}}</i> </small>
            <small class="text-body">  <i class="bi bi-star-fill"> Количество звёзд:  {{video.stars_count}}</i> </small>
          </div>
        </div>
      </div>
    </div>
  </div>