
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-3 video_{{video.id}}">
            
    <div class="card shadow-sm border-0" onclick="location.href='/watch/{{video.id}}'" style="cursor: pointer;" title="{{video.caption}}">
      
      <img class="bd-placeholder-img card-img-top rounded" src="{{video.img.url}}" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="card-body">
        {% if request.user == video.author and author_buttons %}
        <div class = "mt-1 float-right">
        <button type="button" class="btn btn-sm btn-warning" onclick="event.stopPropagation();location.href='/edit/video/{{video.id}}';">
          <i class="bi bi-pencil-square"> Изменить</i>
          </button>
        <button type="button"hx-confirm="Вы уверены, что хотите удалить это видео?" hx-delete="/delete/video/{{video.id}}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
         hx-target=".video_{{video.id}}" hx-swap="outerHTML"
         class="btn btn-sm btn-danger delete-button" onclick="event.stopPropagation();">
         <i class="bi bi-trash"> Удалить</i>
        </button>
      </div>
          {% endif %}
        <strong><p class="card-text text-uppercase font-weight-bold text-truncate overflow-hidden">{{video.caption}}</p></strong>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <small class="text-body-secondary">Дата выхода: {{video.date_uploaded|date:"m.d.Y H:i" }} </small>
            <small class="text-body-secondary">Количество просмотров: {{video.views}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>