{% extends 'video_card.html' %}


{% block edit_block %}
<div class = "mt-1 float-right">
<button type="button" class="btn btn-sm btn-warning" onclick="event.stopPropagation();location.href='/edit/video/{{video.id}}';">
    <i class="bi bi-pencil-square"> Изменить</i>
    </button>
<button type="button"hx-confirm="Вы уверены, что хотите удалить это видео?" hx-delete="/video/{{video.id}}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
    hx-target=".video_{{video.id}}" hx-swap="outerHTML"
    class="btn btn-sm btn-danger delete-button" onclick="event.stopPropagation();">
    <i class="bi bi-trash"> Удалить</i>
</button>
</div>


{% endblock %}