<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gt_modalLabel">Удалить видео</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Вы уверены в том, что хотите данное видео? 
        Данное действие нельзя отменить!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Удалить</button>
        <button type="button" class="btn btn-primary" 
        hx-delete="{% url 'delete_video' video_id %}"
        hx-swap="outerHTML"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target=".video_{{video_id}}"
        data-mdb-ripple-init data-mdb-dismiss="modal"> Отмена</button>
      </div>
    </div>
  </div>