{% extends 'index.html' %}

{% block title %} {{video.caption}} - GlebTube {% endblock %}

{%block content %}

{% load static %}
{% csrf_token %}

{% load user_filters %}


<!--Styles-->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link rel="stylesheet" a href="{% static '/css/enchanced_player.css' %}"> 

<div class="container mt-5">
  <div class="shadow-0 mb-3 border-0">
  
    {% if video.status == 'Completed' %}
    <video preload="none" id="player" autoplay controls crossorigin playsinline controls></video>
    {% else %}
    {% include 'spinners/loading_spinner.html' %}
    <p class="text-muted text-center">Видео загружается...</p>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title text-uppercase font-weight-bold">{{video.caption}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Описание</h6>
      <div class="md_content">
      <p class="card-text">{{video.description}}</p>
    </div>
      <p class="card-text">
        <i class="bi bi-star-fill"></i> Количество Звёзд: {{video.stars_count}}
        <i class="bi bi-binoculars-fill"></i> Количество просмотров: {{video.views}}</p>
      <p class="card-text"><i class="bi bi-clock-fill"></i> Дата выхода: {{video.date_uploaded|date:"m.d.Y"}}</p>
      <p class="card-text" onclick="location.href='{% url 'user_profile' video.author_id %}';" style="cursor:pointer;">
        <img class="rounded-circle mx-3" src="{{video.author.additional.avatar | parse_avatar}}" width="35" height="35">
         <strong> {{video.author.username}} </strong>
      </p>
    </div>

  </div>

<div class="post float-right" data-post-id="{{video.id}}">
<div class = "rate_container float-right"
hx-get="{% url 'rate_video' video.id %}" hx-swap="innerHTML" hx-trigger="revealed">

{% include 'spinners/loading_spinner_htmx.html' %}
</div>


<!-- COMMENT(s) -->
</div class="comment_form">
  <h3 id="comments_count"><i class="bi bi-chat-dots-fill"></i> Комментарии</h3>
  
  <div class="p-2">
    <div class="d-flex flex-row align-items-start">
        <img class="rounded-circle mx-3" src="{{user.additional.avatar | parse_avatar}}" width="50" height="50">
        <textarea class="form-control ml-1 textarea" id="comment" placeholder="Введите комментарий"></textarea>
    </div>
    <div class="mt-2 float-end">
        <button type="button" id="clearButton" class="btn btn-outline-primary btn-floating"><i class="bi bi-trash"></i></button>
        <button hx-post="{% url 'add_comment' video.id %}" hx-vars="comment:document.getElementById('comment').value" 
         hx-target=".comment_list"
         hx-swap="afterbegin"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         class="btn btn-primary  btn-rounded" id="sendButton" type="button"><i class="bi bi-send"></i> Отправить</button>
    </div>
</div>
<br>
<div class="comment_list mt-4"
hx-get="{% url 'fetch_comments' video.id %}"
hx-trigger="revealed"
hx-swap="innerHTML">
{% include 'spinners/loading_spinner_htmx.html' %}
</div>
</div>
</div>

<!--Scripts-->
{% load static %}

<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.js"></script>
<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
<script>var media_source = "{{ hls_url }}";</script>
<script src="{% static '/js/player.js' %}"></script>
<script src="{% static '/js/comment_video.js' %}"></script>



{% endblock %}