{% extends 'index.html' %}


{% block content %}
{% load user_filters %}
{% csrf_token %}
<div class="bg-white">
    <div class="container">
      <div class="text-center py-5">
        <img src="{{user.additional.avatar| parse_avatar}}" width="120" height="120" alt class="ui-w-100 rounded-circle">
        <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
          <h4 class="font-weight-bold my-4">{{user.username}}</h4>
  
          <div class="text-muted mb-4">
            {{user.additional.profile_description}}
          </div>
          <div class="alert_container">
            
          </div>

          <div class="profile_menu">
            {% include 'profile/profile_menu.html' %}
        </div>
        </div>
        <br>

        <hr class="m-0">
    <ul class="nav nav  justify-content-center">
      <li class="nav-item">
        <a class="nav-link py-4 active" href="" hx-get="/profile_action/{{user.id}}/videos" hx-trigger="load,click" hx-target=".user_content" ><i class="bi bi-camera-reels">  Видео</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-4" href="" hx-get="/profile_action/{{user.id}}/liked_videos" hx-target=".user_content"><i class="bi bi-star-fill"> Понравилось</i></a>
      </li>    
    </ul>

  </div>
  <div class="user_content">
    {% include 'spinners/loading_spinner.html' %}
  </div>  



</div>
</div>

{% endblock %}