<div class="video_wrapper"
hx-get="/fetch/video/{{video.id}}"
    hx-trigger="every 5000ms"
    hx-swap="outerHTML"
>
{% include 'loading_spinner.html' %}
    <p class="text-muted text-center">Видео в обработке</p>
    <div class="card-body">
      <h5 class="card-title text-uppercase font-weight-bold">{{video.caption}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Описание</h6>
      <div class="md_content">
      <p class="card-text">{{video.description}}</p>
    </div>
      <p class="card-text">
        <i class="bi bi-star-fill"> Количество Звёзд: {{video.stars_count}} </i>
        <i class="bi bi-binoculars-fill"> Количество просмотров: {{video.views}} </i></p>
      <p class="card-text"><i class="bi bi-clock-fill"> Дата выхода: {{video.date_uploaded|date:"m.d.Y"}}</i></p>
      <p class="card-text"><i class="bi bi-person-circle">  Автор:  <a href="/profile/{{video.author.id}}">{{video.author}} </i></a></p>
    </div>
</div>