{% extends 'index.html' %}


{% block content %}
{% csrf_token %}
<div class="bg-white">
    <div class="container">
      <div class="text-center py-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Israeli_blue_Star_of_David.png" width="120" alt class="ui-w-100 rounded-circle">
  
        <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
          <h4 class="font-weight-bold my-4">{{user.username}}</h4>
  
          <div class="text-muted mb-4">
            Здесь будет замечательное описание, когда-нибудь...
          </div>
          <div class="alert_container">
            
          </div>
          <span class="profile_buttons">
              {% if isOwner %}
              <button type="button" class="btn btn-warning btn-sm" onclick="alert('В разработке...')">
                <i class="bi bi-pencil-square">  Редактировать профиль</i>
              </button>
              <button type="button" 
              hx-delete="/delete/history" 
              hx-swap="innerHTML"
              hx-target=".alert_container"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'         
              class="btn btn-danger btn-sm">
              <i class="bi bi-trash">  Очистить историю</i>
              </button>
              {% else %}
              <!--SUB/UNSUB BUTTONS-->
              <div id="sub_btn_area" hx-get="/profile_action/{{user.id}}/subscribe" hx-trigger="load" hx-swap="innerHTML">
              </div>
              <!--SUB/UNSUB BUTTONS-->
              {% endif %}
          </span>
         
          <div class="d-flex justify-content-center align-items-center py-4">
            <div>
              <div class="d-inline-block text-dark">
                
                <span class="text-muted"><i class="bi bi-star-fill"> Всего звёзд:</i></span>
                <strong>{{user.additional.stars_count}}</strong>
              </div>
              
              <div class="d-inline-block text-dark ml-3">
                <span class="text-muted"><i class="bi bi-people"> Всего подписчиков:</i> </span>
                <strong>{{user.additional.subscribers_count}}</strong>
              </div>
            </div>
            <div>            
            </div>
          </div>
        </div>


        <div class="text-center">  
        <hr class="m-0">
  
    <ul class="nav nav  justify-content-center">
      <li class="nav-item">
        <a class="nav-link py-4 active" href="#" hx-get="/profile_action/{{user.id}}/videos" hx-trigger="load,click" hx-target=".user_content" ><i class="bi bi-camera-reels">  Видео</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-4" href="#" hx-get="/profile_action/{{user.id}}/liked_videos" hx-target=".user_content"><i class="bi bi-star-fill"> Понравилось</i></a>
      </li>    
    </ul>


  <div class="user_content">
    <!--HTMX RESPONSE CONTENT-->
  </div>  
  </div>

</div>
</div>
</div>

{% endblock %}