{% extends 'index.html' %}


{% block content %}


<div class ="mx-auto col-10 col-md-8 col-lg-6">
    {% if alert %} 
    <div class="form-group">
    <div class="alert alert-danger">
        <strong>Ошибка: </strong> {{alert.description}}
    </div>
    {% endif %}
<div class="form-group">
    <h1>Новое видео</h1>
<form enctype="multipart/form-data" method="POST" action="">

{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Загрузить" class="btn btn-primary float-right"/>
</form>
</div>
</div>
{% endblock %}
