{% extends 'index.html' %}

{% block title %} {{video.caption}} - GlebTube  {% endblock %}

{%block content %}

{% load formatted_markdown %}
{% load bleach_tags %}

{% load static %}
{% csrf_token %}

<!--Styles-->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link rel="stylesheet" a href="{% static '/css/enchanced_player.css' %}"> 

<link rel="stylesheet" a href="{% static '/css/rate_buttons.css' %}"> 
<link rel="stylesheet" a href="{% static '/css/md_style.css' %}"> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-5">
  <div class="card mb-3 border-0">
    <video id="player" playsinline controls data-poster="{{video.img.url}}">
      <source src="{{video.video.url}}" type="video/mp4" />
      <source src="{{video.video.url}}" type="video/webm" />
    
      <!-- Captions are optional 
      <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
    </video>
    <div class="card-body">
      <h5 class="card-title text-uppercase font-weight-bold">{{video.caption}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Описание</h6>
      <div class="md_content">
      <p class="card-text">{{video.description|formatted_markdown|bleach}}</p>
    </div>
      <p class="card-text"><small class="text-muted">Дата выхода: {{video.date_uploaded}} Количество просмотров: {{video.views}}</small></p>
      <p class="card-text"><small class="text-muted">Автор: {{video.author}}</small></p>
    </div>
  </div>
<div class="post float-right" data-post-id="{{video.id}}">

{% if grade == 0 %}
<div class="post-ratings-container">
  <div class="post-rating">
    <span class="post-rating-button material-icons">thumb_up</span>
    <span class="post-rating-count">{{likes}}</span>
  </div>
  <div class="post-rating">
    <span class="post-rating-button material-icons">thumb_down</span>
    <span class="post-rating-count">{{dislikes}}</span>
  </div>
</div>
{% elif grade == 1 %}
<div class="post-ratings-container">
  <div class="post-rating post-rating-selected">
    <span class="post-rating-button material-icons">thumb_up</span>
    <span class="post-rating-count">{{likes}}</span>
  </div>
  <div class="post-rating">
    <span class="post-rating-button material-icons">thumb_down</span>
    <span class="post-rating-count">{{dislikes}}</span>
  </div>
</div>
{% elif grade == -1 %}
<div class="post-ratings-container">
  <div class="post-rating">
    <span class="post-rating-button material-icons">thumb_up</span>
    <span class="post-rating-count">{{likes}}</span>
  </div>
  <div class="post-rating post-rating-selected">
    <span class="post-rating-button material-icons">thumb_down</span>
    <span class="post-rating-count">{{dislikes}}</span>
  </div>
</div>
{% endif %}

<!-- COMMENT(s) -->
</div class="comment_form">
  <h3 id="comments_count">Комментарии ({{comments|length}})</h3>
  
  <div class="bg-white p-2">
    <div class="d-flex flex-row align-items-start">
        <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Israeli_blue_Star_of_David.png" width="40">
        <textarea class="form-control ml-1 shadow-none textarea" id="comment" placeholder="Введите комментарий"></textarea>
    </div>
    <div class="mt-2 text-right">
        <button type="button" id="clearButton" class="btn btn-outline-primary btn-sm shadow-none">Очистить</button>
        <button hx-post="/watch/{{video.id}}/comment" hx-vars="comment:document.getElementById('comment').value" 
         hx-target=".comment_list" hx-swap="afterbegin"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         class="btn btn-primary btn-sm shadow-none" id="sendButton" type="button">Отправить</button>
    </div>
</div>

<div class="comment_list">
{% for comment in comments %}  
  <div class="d-flex justify-content-center row">
      <div class="col"> <!--<div class="col-md-8"> -->
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Israeli_blue_Star_of_David.png" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{comment.author}}</span>
                        <span class="date text-black-50">{{comment.date_uploaded}}</span></div>
                  </div>
                  <div class="mt-2">
                      <div class="md_content">
                      <p class="comment-text">{{comment.content|formatted_markdown|bleach}}</p>
                    </div>
                  </div>
                 
              </div>
             
              
          </div>
      </div>
  </div>
  {% endfor %} 
</div>
</div>

<!--Scripts-->
<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
<script src="{% static '/js/player.js' %}"></script>
<script src="{% static '/js/comment_video.js' %}"></script>
<script src="{% static '/js/rate_video.js' %}"></script>

{% endblock %}