<div class="modal-header">
    <h5 class="modal-title" id="deleteModalLabel">Удалить видео</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    Вы уверены в том, что хотите данное видео? 
    Данное действие нельзя отменить!
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger"
    hx-delete="/video/{{video_id}}"
    hx-swap="outerHTML"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-target=".video_{{video_id}}"
    data-bs-toggle="modal" data-bs-target="rm_video_modal"
    >Удалить</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
</div>